
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');

* {
    font-family: 'Kumbh Sans', sans-serif;
}

:root{
    --itemCardColor: hsl(120,5%,88%);
    --itmeCardHover: hsl(120,27%,87%);
    --inputColor: hsl(330,12%,97%);
    --PrimaryColor: hsl(94, 59%,35%);
}


.profileCard {
    position: relative;
    height: 550px;
    width: 950px;
    border: none;
    border-radius: 12px;
    background-color: white;
    z-index: 2;
    margin: 0 auto;
    top: 100px;
}

.circle {
    width: 150px;
  height: 150px;
  background-image: url('../pictures/userprofile.png');
  background-size: cover;
  border-radius: 50%;
  border: 3px solid #fff;
  margin: 0 auto;
  position: relative;
  top: -50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: aliceblue;
}

.circle img {
    width: 100%; /* Makes the image fully occupy the width of the circle */
    height: 100%; /* Makes the image fully occupy the height of the circle */
    object-fit: cover; /* Ensures the image covers the area without distorting aspect ratio */
    border-radius: 50%; /* Ensures the image itself is also circular if the image has transparent areas */
}

.name{
  color: #333;
  /* margin: 1px 120px ; */
  text-align: center ;

}

.stat {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }

.stats{
    display: flex;
    justify-content: space-around;
    margin: -35px 0;
    text-align: center;
}

.listingSection{
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    flex-basis: 70%;

    .heading{
        width: 100%;
        justify-content: space-between;

        h1{
            font-size: 1rem;
            color: black;
            font-weight: 700;
        }

        .btn{
            border: 1px solid transparent;
            font-weight: 500;
        }

        .btn:hover{
            border: 1px solid green;
        }
    }
}


.secContainer{
    width: 100%;
    margin: 1rem 0;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;

    .singleItem{
        position: relative;
        width: 150px;
        height: 170px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        border-radius: 10px;
        background: var(--itemCardColor);
    }

    &:hover{
        background: var(--itmeCardHover);
        box-shadow: 0 2px 2px var(--inputColor);
    }

    img{
        max-width: 70%;
        max-height: 70%;
    }

    .icon{
        position: absolute;
        top: 10px;
        right: 10px;
        color: var(--PrimaryColor);
    }

    h3{
       font-size: 1rem;
        color: black;
        padding: 1rem 0;
    }
}