.planner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.legend-box {
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 16px;
}

.legend-title {
  font-weight: bold;
  margin-bottom: 8px;
}

.legend {
  display: flex;
  flex-wrap: wrap;
}

.legend-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin-right: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}

.legend-item.selected {
  border: none; /* Remove border for selected item */
}

.legend-item.selected div {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow to text */
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(8, 40px);
  gap: 4px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  cursor: pointer;
}
