@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
/* Global settings */
:root {
  --background-color: #f0f0f0; /* Light grey background */
  --primary-color: #39A0ED; /* Blue for links and highlights */
  --text-color: #333; /* Dark grey for text */
  --container-bg: #fff; /* White background for content areas */
  --border-radius: 8px; /* Rounded corners for sections */
}

body, html {
  font-family: 'Urbanist', sans-serif;
  margin: 0;
  padding: 0;
  font-family: Andale Mono, monospace; /*'Arial', sans-serif;*/
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100%;
}

.App {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Adds space between columns */
  padding: 20px;
  min-height: 100vh; /* Full height of viewport */
}

.title {
  width: 100%;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 20px;
}

#leftColumn, #middleColumn, #rightColumn {
  background-color: var(--container-bg);
  border-radius: var(--border-radius);
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Adds subtle shadow */
}

#leftColumn {
  flex-basis: 20%; /* Adjust based on content or preference */
}

#middleColumn {
  flex-basis: 60%; /* Adjust based on content or preference */
}

#rightColumn {
  flex-basis: 20%; /* Adjust based on content or preference */
}

.Profile, .Navigation, .center-content {
  text-align: center; /* Centering content */
}

@media screen and (max-width: 768px) {
  .App {
    flex-direction: column; /* Stack columns vertically on small screens */
  }

  #leftColumn, #middleColumn, #rightColumn {
    width: 100%; /* Full width for small screens */
    margin-bottom: 10px; /* Add space between stacked columns */
  }
}


/* Forum posts */
.forum {
  margin-top: 20px;
}

.message-container {
  display: grid;
  gap: 20px;
}

.message-box {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
}

.message-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}


.avatar-image {
  width: 180px;
  height: 300px; 
}

.avatar-input {
  display: none; 
}

/* .user-avatar {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border-radius: 50%;
} */

.user-info {
  flex-grow: 1;
  margin-left: 10px;
}

.user-name {
  font-weight: bold;
}

.timestamp {
  font-size: 12px;
  color: #666;
}

/* Image Upload Section */
.image-upload {
  margin-top: 20px;
}

.image-preview {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: 10px;
}

.message-input textarea {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  padding: 10px;
  resize: vertical;
}

.message-input button {
  margin-top: 10px;
  padding: 10px 20px;
}
