.forum {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-box {
  border: 1px solid #77dd77; /* Light green border */
  background-color: #f0fff0; /* Light green background */
  border-radius: 5px; /* Add border radius for rounded corners */
  padding: 10px;
  margin-bottom: 10px;
  width: 80%;
  max-width: 500px;
}
