/* App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
}

.title {
  margin-top: 20px; /* Adjust as needed */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Adjust as needed */
}

.center-content {
  margin-top: 20px; /* Adjust as needed */
}
